<!DOCTYPE html>
<html>
<head>
  <title>ExampleApp Basse</title>
  <script>
    function load() {
      setTimeout(function() {location=''}, 50)
    }
    window.onload = load;
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
